// ---------------------------------------------------------------------------
// Nested Imports

// ---------------------------------------------------------------------------
// Variables

// distance between two cells (alley) and two pages (gutter)
$alley: 8px;
$gutter: ($alley / 2);

// standard colours
$highlight: gray;

// light theme colours
$background_html_light: #ffffff;
$directory_light: #dddddd;
$text_light: #000000;

// dark theme colours
$background_html_dark: #222222;
$text_dark: #ffffff;

// transition points between media queries
$wide1: 1600px;
$wide2: 2400px;

// ---------------------------------------------------------------------------
// Mixins
@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

