// ---------------------------------------------------------------------------
// Nested Imports

// ---------------------------------------------------------------------------
// Variables

// distance between two cells (alley) and two pages (gutter)
$alley: 8px;
$gutter: ($alley / 2);

// standard colours
$highlight: gray;
$tint_cell_distance: #171717;
$tint_icon_distance: #555555;
$text_overaction: red;

// light theme colours
$background_html_light: (#ffffff - $tint_cell_distance);
$directory_light: $background_html_light;
$text_light: #000000;
$text_icon_light: ($text_light + $tint_icon_distance);

// dark theme colours
$background_html_dark: (#000000 + $tint_cell_distance);
$text_dark: #ffffff;
$text_icon_dark: ($text_dark - $tint_icon_distance);

// transition points between media queries
$wide1: 1600px;
$wide2: 2400px;

// ---------------------------------------------------------------------------
// Mixins
@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin calc4($property, $exp_top, $exp_right, $exp_bottom, $exp_left) { 
  #{$property}: -webkit-calc(#{$exp_top}) -webkit-calc(#{$exp_right}) -webkit-calc(#{$exp_bottom}) -webkit-calc(#{$exp_left});
  #{$property}: -moz-calc(#{$exp_top}) -moz-calc(#{$exp_right}) -moz-calc(#{$exp_bottom}) -moz-calc(#{$exp_left});
  #{$property}: calc(#{$exp_top}) calc(#{$exp_right}) calc(#{$exp_bottom}) calc(#{$exp_left});
}

