// ---------------------------------------------------------------------------
// Nested Imports

// ---------------------------------------------------------------------------
// Variables

// distance between two cells (alley) and two pages (gutter)
$alley: 8px;
$gutter: ($alley / 2);

// standard colours
$highlight: gray;
$cell_tint_distance: #222222;

// light theme colours
$background_html_light: #dddddd;
$directory_light: #dddddd;
$text_light: #000000;

// dark theme colours
$background_html_dark: #222222;
$text_dark: #ffffff;

// transition points between media queries
$wide1: 1600px;
$wide2: 2400px;

// ---------------------------------------------------------------------------
// Mixins
@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin calc4($property, $exp_top, $exp_right, $exp_bottom, $exp_left) { 
  #{$property}: -webkit-calc(#{$exp_top}) -webkit-calc(#{$exp_right}) -webkit-calc(#{$exp_bottom}) -webkit-calc(#{$exp_left});
  #{$property}: -moz-calc(#{$exp_top}) -moz-calc(#{$exp_right}) -moz-calc(#{$exp_bottom}) -moz-calc(#{$exp_left});
  #{$property}: calc(#{$exp_top}) calc(#{$exp_right}) calc(#{$exp_bottom}) calc(#{$exp_left});
}

