// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

html.flexbox.flow-x {
  overflow-x: scroll;

  .page .content {
    // row-major order
    .flow-x {
      display: -webkit-flex;
      -webkit-flex-flow: column wrap;
      display: flex;
      flex-flow: column wrap;
      height: 100%;
    }
  }
}

// flow y, only option for no-flexbox browsers
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;

  // column-major order
  .page .content {
    li {
      float: left;
    }
  }
}

.page {
  height: 100%;

  // header and footer are full-width by default.
  .header, .footer {
    clear: both;
    background-color: #ff0000;
    height: 10%;
  }

  .content {
    background-color: #00ff00;
    height: 80%;

    .flow-em > .cell {
      width: 20em;
      height: 20em;
    }

    .flow-pc > .cell {
      width: 25%;
      height: 50%;
    }

    .flow > .cell {
      a > img {
        .x-bound {
          width: 100%;
        }
      
        .y-bound {
          height: 100%;
        }
      }
      
      // folders with preview images
      a > .folder {
        background: #ffffff url('/chrome/images/fullres/folder_back.png') no-repeat left top;
        background-size: 100% 100%;

        > .preview {
          width: 25%;
          height: 20%;
          margin-right: 3%;
        }
        
        .preview-1, .preview-3 {
          margin-left: 24%;
        }
        
        .preview-1, .preview-2  {
          margin-top: 10%;
        }

        .preview-3, .preview-4  {
          margin-top: 2%;
        }
        
        .overlay {
          width: 100%;
          height: 80%;
          margin-top: -32%;
        }
      }
    }

  }
}


