// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

html.flexbox.flow-x {
  overflow-x: scroll;

  .page .content {
    // row-major order
    .flow-x {
      display: -webkit-flex;
      -webkit-flex-flow: column wrap;
      -webkit-align-items: center;
      -webkit-justify-content: flex-start;
      -webkit-align-content: flex-start;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      align-content: flex-start;
      height: 100%;
    }
  }
}

// flow y, only option for no-flexbox browsers
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;

  // column-major order
  .page .content {
    li {
      float: left;
    }
  }
}

.page {
  height: 100%;

  // header and footer are full-width by default.
  .header, .footer {
    clear: both;
    background-color: #ff0000;
    height: 5%;
  }

  .content {
    background-color: #00ff00;
    height: 90%;

    .flow-em > .cell {
      width: 20em;
      height: 20em;
    }

    .flow-pc > .cell {
      width: 25%;
      height: 50%;
    }

    .flow > .cell {
      a {
      
        > img.x-bound {
          width: 100%;
        }
      
        > img.y-bound {
          height: 100%;
        }

        .title {
          height: 0;
          line-height: 0;
          top: -1.0em;
          position: relative;
        }

        // folders with preview images
        > .folder {
          background: #ffffff url('/chrome/images/fullres/folder_back.png') no-repeat left top;
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
          display: block;
  
          > .overlay {
            width: 100%;
            height: 100%;
            position: relative;
            top: -69%;
          }
  
          > .preview {
            width: 25%;
            height: 34.5%;
            position: relative;
            margin-right: 3%;
          }
          
          .preview-1, .preview-3 {
            margin-left: 24%;
          }
          
          .preview-1, .preview-2  {
            // have to use 'top' because 'margin-top' percentage calculated on element width!
            top: 15%;
          }
  
          .preview-3, .preview-4  {
            top: 17%;
          }        
        }
      }
    }
  }
}


