// ---------------------------------------------------------------------------
// Imports

// distance between two cells (alley) and two pages (gutter)
$alley: 8px;
$gutter: ($alley / 2);

// standard colours
$highlight: #ff00ff;

// light theme colours
$background_html_light: #ffffff;
$text_light: #000000;

// dark theme colours
$background_html_dark: #222222;
$text_dark: #ffffff;

// transition points between media queries
$wide1: 1600px;
$wide2: 2400px;

// ---------------------------------------------------------------------------
// Layout

// yardsticks to measure viewport's actual size
.yardstick {
  background: #0000ff;
}
// gutterball to pass sass variables back to js
#gutterball {
  width: $gutter;
  height: 0;
}

html {
  background-color: $background_html_light;
}

// ---------------------------------------------------------------------------
// Modernizr variants

html.flexbox.flow-x {
  overflow-x: scroll;

  .sfun {
    // row-major order
    &.flow, .flow {
      display: -webkit-flex;
      -webkit-flex-flow: column wrap;
      -webkit-align-items: center;
      -webkit-justify-content: flex-start;
      -webkit-align-content: flex-start;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      align-content: flex-start;
      height: 100%;
    }
  }
}

// flow y, only option for no-flexbox browsers
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;

  // column-major order
  .sfun {
    li {
      float: left;
    }
  }
}

// use CSS hover if no javascript
html.no-js, html.disabled-js {
  .header, .footer {
    display: none;
  }
}

// ---------------------------------------------------------------------------
// Page

.page {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  // font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  height: 100%;

  // header and footer are full-width by default.
  .header, .footer {
    clear: both;
    height: 2.5em;
    width: 2.5em;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    color: $text_light;
    text-transform: uppercase;
    font-size: 0.75em;

    // blue sky background for header bar (http://www.colorzilla.com/gradient-editor/)
    background: #96c2ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #96c2ff 0%, #d9ecf9 84%, #adadad 85%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c2ff), color-stop(84%,#d9ecf9), color-stop(85%,#adadad), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c2ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    p, li {
      float: left;
      height: 100%;
      // background at 100% height
      background-size: 2.5em 2.5em;
      background-repeat: no-repeat;
      padding-top: 0.7em;
      padding-left: 3.0em;

      a {
        text-decoration: none;
        color: $text_light;
      }


      &.menu-icon {
        background-image: url('/chrome/images/fullres/menu-icon-64x64-black.png');
      }
    }
  }

  .header {
    top: 0;
  }
  
  // footer not currently used
  .footer {
    bottom: 0;
  }

  .content {
    // can't use padding without introducing a minor axis scrollbar
    margin: $gutter;
    height: 100%;
    // everything in content is unhighlightable
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// ---------------------------------------------------------------------------
// Structured container

.sfun {
  // offset the cell margins above and left
  margin-top: (-($alley / 2) - $gutter);
  margin-left: (-($alley / 2) - $gutter);
}

// ---------------------------------------------------------------------------
// Theme variants

html.theme-dark {
  background-color: $background_html_dark;

  .page {
    .header {
      color: $text_dark;

      // dark sky background for header bar
      background: #000000; /* Old browsers */
      background: -moz-linear-gradient(top,  #000000 0%, #09134c 84%, #08090c 85%, #222222 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(84%,#09134c), color-stop(85%,#08090c), color-stop(100%,#222222)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

      p, li {
        a {
          color: $text_dark;
        }
        &.menu-icon {
          background-image: url('/chrome/images/fullres/menu-icon-64x64-white.png');
        }
      }

    }

    .content .sfun > .cell {
      &:not(.selected) .selectreflector {
        border-color: $background_html_dark;
      }

      a {
        .meta {
          background-image: linear-gradient(rgba($background_html_dark, 0), rgba($background_html_dark, 0.8));
          color: #ffffff;
        }
        .title {
          background-color: $background_html_dark;
          color: #ffffff;
        }
      }
      
      .directory {
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Test suite

#qunit {
  position: absolute;
  // really not part of the typical page stack, well above
  z-index: 999;
}

