// ---------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "base";

// ---------------------------------------------------------------------------
// Layout

// gutterball to pass sass variable (gutter/page outer border) back to js
#gutterball {
  width: $gutter;
  height: 0;
}
// alleyball to pass sass variable (column gap) back to js
#alleyball {
  width: $alley;
  height: 0;
}
// no gutter around or alley between fullscreen images
html.flow-1 #gutterball {
  width: 0;
}
html.flow-1 #alleyball {
  width: 0;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  background-color: $background_html_light;
  color: #999999;
  height: 100%;

  body {
    height: 100%;
  }

  // create debug-only document features
  .debug-only {
    display: none;
  }

  &.debug {
    .debug-only {
      display: block;
    }
  }
}

// ---------------------------------------------------------------------------
// Modernizr variants

html.flexbox.flow-x {
  overflow-x: scroll;

  .sfun {
    // row-major order
    &.flow, .flow {
      display: -webkit-flex;
      -webkit-flex-flow: column wrap;
      -webkit-align-items: center;
      -webkit-justify-content: flex-start;
      -webkit-align-content: flex-start;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      align-content: flex-start;
      height: 100%;
    }
  }
}

// flow y, only option for no-flexbox browsers
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;

  // column-major order
  .sfun {
    li {
      float: left;
    }
  }
}

// use CSS hover if no javascript
html.no-js, html.disabled-js {
  .header, .footer {
    display: none;
  }
}

// ---------------------------------------------------------------------------
// Page

.page {
  height: 100%;

  // header and footer are full-width by default.
  .header, .footer {
    clear: both;
    height: 3em;
    width: 3em;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    color: $text_light;
    text-transform: uppercase;
    font-size: 0.75em;

    &.open {
      height: auto;
    }

    // blue sky background for header bar (http://www.colorzilla.com/gradient-editor/)
    background: #96c2ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #96c2ff 0%, #d9ecf9 84%, #adadad 85%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c2ff), color-stop(84%,#d9ecf9), color-stop(85%,#adadad), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #96c2ff 0%,#d9ecf9 84%,#adadad 85%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c2ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    p, li {
      float: left;
      height: 100%;
      padding-left: 3em;
      padding-top: 1em;

      a {
        text-decoration: none;
        color: $text_light;
      }

      &.menu.icon {
        padding: 0 0 0 0.1em;
        font-size: 3.0em;
      }

      // done the background image way
      // background at 100% height
      // background-size: 2.5em 2.5em;
      // background-repeat: no-repeat;
      // padding-top: 0.7em;
      // padding-left: 3.0em;
      // &.menu-icon {
      //   background-image: url('/chrome/images/fullres/menu-icon-64x64-black.png');
      // }
    }
  }

  .header {
    top: 0;
  }
  
  // footer not currently used
  .footer {
    bottom: 0;
  }

  .content {
    // can't use padding without introducing a minor axis scrollbar
    height: 100%;
    // simple margin on content introduces a scrollbar, 
    //   hiding overflow on parent (.page) break horizontal scroll
    //   overflow-y: hidden;
    // everything in content is unhighlightable
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// ---------------------------------------------------------------------------
// Fullscreen overlay effect

$shape: circle farthest-corner;
$colour_white_solid: rgba(255,255,255,0);
$colour_black_solid: rgba(0,0,0,0);
$position_mid: 80%;
$colour_black_alpha: rgba(0,0,0,0.45);
$colour_white_alpha: rgba(255,255,255,0.45);

html.flow-1 {
  // no margin around page when fullscreen
  .page .content {
    height: 100%;
    margin: 0;
    .sfun {
      margin: 0;

      // no selected border either
      .container .selectreflector {
        border: none;
      }
    }
  }

  .overlay-holder {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ff0000;
    top: 0;
    left: 0;
    pointer-events:none;

    // radial corner-fade effect
    background: -moz-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_white_solid $position_mid, $colour_white_alpha 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$colour_white_solid), color-stop($position_mid,$colour_white_solid), color-stop(100%,$colour_white_alpha)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_white_solid $position_mid, $colour_white_alpha 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_white_solid $position_mid, $colour_white_alpha 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_white_solid $position_mid, $colour_white_alpha 100%); /* IE10+ */
    background: radial-gradient($shape at center, $colour_white_solid 0%, $colour_white_solid $position_mid, $colour_white_alpha 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}

// ---------------------------------------------------------------------------
// Structured container

.sfun {
  // offset the cell margin above
  margin-top: (-($alley / 2));
  // margin-left: (-($alley / 2));
}

// ---------------------------------------------------------------------------
// Theme variants

html.theme-dark {
  background-color: $background_html_dark;

  .page {
    .header {
      color: $text_dark;

      // dark sky background for header bar
      background: #000000; /* Old browsers */
      background: -moz-linear-gradient(top,  #000000 0%, #09134c 84%, #08090c 85%, #222222 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(84%,#09134c), color-stop(85%,#08090c), color-stop(100%,#222222)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #000000 0%,#09134c 84%,#08090c 85%,#222222 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

      p, li {
        a {
          color: $text_dark;
        }
        &.menu-icon {
          background-image: url('/chrome/images/fullres/menu-icon-64x64-white.png');
        }
      }

    }

    .content .sfun {
      > .cell {
        // tint all cells darker
        background-color: ($background_html_dark - $tint_cell_distance);

        &:not(.selected) .container .selectreflector {
          border-color: $background_html_dark;
        }

        a {
          // metadata display
          .meta {
            color: #ffffff;

            .base {
              background-image: linear-gradient(rgba($background_html_dark, 0.4), rgba($background_html_dark, 0.8));            
              // off-colour for metadata icons
              .iptcCaption, .iptcKeywords, .iptcCopyright, .iptcSource {
                color: $text_icon_dark;
              }
            }

          }

          .title {
            background-color: $background_html_dark;
            color: #ffffff;
          }
        } // a
        
        // metadata editing
        .metaform-holder {
          input[type=text], textarea {
            color: $text_dark;
            &:focus {
              border: 1px solid $text_icon_dark;
              // darker fade to make form data clearer
              background-image: linear-gradient(rgba($background_html_dark, 0.5), rgba($background_html_dark, 0.8));
            }
          }
        }

      } // .cell

      &.flow-1 {
        .media-container .selectreflector {
          border-color: $background_html_dark;
        }
      }
  
    } // .sfun
  } // .header

  &.flow-1 .overlay-holder {
    // radial corner-fade effect is black
    background: -moz-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_black_solid $position_mid, $colour_black_alpha 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$colour_white_solid), color-stop($position_mid,$colour_black_solid), color-stop(100%,$colour_black_alpha)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_black_solid $position_mid, $colour_black_alpha 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_black_solid $position_mid, $colour_black_alpha 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, $shape, $colour_white_solid 0%, $colour_black_solid $position_mid, $colour_black_alpha 100%); /* IE10+ */
    background: radial-gradient($shape at center, $colour_white_solid 0%, $colour_black_solid $position_mid, $colour_black_alpha 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
}

// ---------------------------------------------------------------------------
// Core: animations

.sfun.animate-zoom {
  &.flow-1 > .cell {
    &.selected img.reresable {
      @include multibrowser('animation', 'move-out 5s ease alternate');
    }
  }
  &.flow-2 > .cell {
    &.selected img.reresable {
      @include multibrowser('animation', 'move-in 5s ease alternate');
    }
  }
}

@keyframes move-out {
  from {
  }
  to {
  }
}

@keyframes move-in {
  from {
  }
  to {
  }
}

// ---------------------------------------------------------------------------
// Queue visualisation

#eventQueueVis {
  color: #fff;
  font-size: 0.8em;
  // scroll in top-right
  position: fixed;
  z-index: 1;
  top: 0;
  // stick to right-hand edge
  left: 100%;
  margin-left: -20em;
  border: 1px solid grey;
  transition: 0.5s linear all;

  &.refreshing {
    border-color: red;
    transition: none;
  }

  li {
    width: 20em;
    padding: 0.2em;
    border: 1px solid #000;
    background-color: grey;

    &.keypress, span.keypress, &.selected, span.selected {
      background-color: #660000;
    }

    &.hash, span.hash {
      background-color: #006600;
    }

    &.scroll, span.scroll {
      background-color: #000066;
    }

    &.history {
      opacity: 0.5;
    }

    .dig3 {
      font-size: 0.6em;
      border: 1px solid #fff;
      padding: 0.2em;
      margin: 0.1em 0.4em 0.1em 0.1em;
    }
  }
}

// ---------------------------------------------------------------------------
// Test suite

#qunit {
  position: absolute;
  // really not part of the typical page stack, well above
  z-index: 999;
}

