# Leave some symfony stuff in repo to aid immediate portability

# Bootstrap
# app/bootstrap*

# Symfony directories
# vendor/*
*/logs/*
*/cache/*
# web/uploads/*
# web/bundles/*

# Configuration files
# app/config/parameters.ini
# app/config/parameters.yml

# Eclipse IDE files
.buildpath
.project
.settings/

# Ignore Compass/Sass cache
web/chrome/.sass-cache

# Ignore installed composer instance
composer.phar

# Ignore mediacache files (now that the directory exists)
web/mediacache/image/*.dat
