{{ include('LightennaStructuredBundle:Fileview:partial.header.html.twig', {title: 'File not found'}) }}

<h1>File not found</h1>

{{ include('LightennaStructuredBundle:Fileview:partial.footer.html.twig') }}
