{{ include('LightennaStructuredBundle:Fileview:partial.header.html.twig', {title: 'File - StructuredFun'}) }}

<h1>Fileview</h1>
File: {{ filename }}!

{{ include('LightennaStructuredBundle:Fileview:partial.footer.html.twig') }}
