<html class="no-js flow {% if (direction is defined) %}flow-{{ direction }}{% endif %} theme-dark">
<head>
<title>Directory {{ title }} - StructuredFun</title>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.cookie-1.4.0.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.mousewheel-3.1.6.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/modernizr/modernizr.all.2p7p1.min.js"></script>
<script type="text/javascript" src="/chrome/structured.js"></script>
<link href="/chrome/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/stylesheets/overflow.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
  <div class="header">
  <p><a id="flow-x" href="#">Horizontal</a> | <a id="flow-y" href="#">Vertical</a></p>
  <p><a id="theme-light" href="#">Light</a> | <a id="theme-dark" href="#">Dark</a></p>
  <p>x <a id="res-x-1" href="#">1</a> | <a id="res-x-2" href="#">2</a> | <a id="res-x-4" href="#">4</a> | <a id="res-x-8" href="#">8</a></p>
  </div>
