<html class="no-js not-disabled-js flow {% if (direction is defined) %}flow-{{ direction }}{% endif %} theme-dark">
<head>
<title>Directory {{ title }} - StructuredFun</title>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.cookie-1.4.0.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.mousewheel-3.1.6.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.history-1.8b2.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/modernizr/modernizr.custom.99817.2p8p3.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/mustache/mustache-0.7.2.min.js"></script>
{# video.js for handling moving images #}
<link href="/chrome/vendor/video.js/video-js.css" rel="stylesheet">
<script type="text/javascript" src="/chrome/vendor/video.js/video.js"></script>
<script>
  videojs.options.flash.swf = "/chrome/vendor/video.js/video-js.swf"
</script>
{# structuredfun core #}
<script type="text/javascript" src="/chrome/structured.js"></script>
<script type="text/javascript" src="/chrome/structured-flow.js"></script>
<script type="text/javascript" src="/chrome/structured-flow2.js"></script>
{# tool receiver order, used for event preventing = script order established here #}
<script type="text/javascript" src="/chrome/structured-metaedit.js"></script>
<script type="text/javascript" src="/chrome/structured-clickfull.js"></script>
<script type="text/javascript" src="/chrome/structured-QUnit-all.js"></script>
<script type="text/javascript" src="/chrome/structured-QUnit-single.js"></script>
{% if defaults is defined %}<script type="text/javascript">
  // write dynamic settings JSON into HTML [async]
  sfun.push('setDefaults', {{ defaults | json_encode | raw }});
</script>{% endif %}
<link href="/chrome/stylesheets/structured.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/stylesheets/structuredfun.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/stylesheets/overflow.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/vendor/qunit/qunit-1.14.0.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/vendor/ionicons/css/ionicons.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
  <ul class="header">
    <li class="menu icon ion-navicon-round"></li>
    <li><a id="flow-x" href="#">Horizontal</a> | <a id="flow-y" href="#">Vertical</a></li>
    <li><a id="theme-light" href="#">Light</a> | <a id="theme-dark" href="#">Dark</a></li>
    <li><a id="flow-1" href="#">1</a> | <a id="flow-2" href="#">2</a> | <a id="flow-4" href="#">4</a> | <a id="flow-8" href="#">8</a></li>
  </ul>
