<html{% if (direction is defined) %} class="flow-{{ direction }}"{% endif %}>
<head>
<title>Directory {{ title }} - StructuredFun</title>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/chrome/vendor/jquery/jquery.cookie-1.4.0.min.js"></script>
<script type="text/javascript" src="/chrome/structured.js"></script>
<link href="/chrome/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="/chrome/stylesheets/overflow.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
  <div class="header">
  <p><a href="#" id="sfun-horiz">Horizontal</a> | <a href="#" id="sfun-vert">Vertical</a></p>
  </div>
