/* line 17, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/alex/Desktop/portable apps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 23, ../sass/screen.scss */
.yardstick {
  background: #0000ff;
}

/* line 26, ../sass/screen.scss */
#yardstick-x {
  width: 100%;
  height: 0;
}

/* line 30, ../sass/screen.scss */
#yardstick-y {
  width: 0;
  height: 100%;
  float: left;
}

/* line 36, ../sass/screen.scss */
html {
  background-color: white;
}

/* -------------------------------------------------------------------------*/
/* Modernizr variants */
/* line 43, ../sass/screen.scss */
html.flexbox.flow-x {
  overflow-x: scroll;
}
/* line 48, ../sass/screen.scss */
html.flexbox.flow-x .page .content .flow-x {
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-align-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

/* line 65, ../sass/screen.scss */
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;
}
/* line 70, ../sass/screen.scss */
html.flow-y .page .content li, html.no-flexbox.flow-x .page .content li {
  float: left;
}

/* line 78, ../sass/screen.scss */
html.no-js .header:hover, html.no-js .footer:hover {
  width: 100%;
}

/* -------------------------------------------------------------------------*/
/* Page */
/* line 86, ../sass/screen.scss */
.page {
  height: 100%;
}
/* line 90, ../sass/screen.scss */
.page .header, .page .footer {
  clear: both;
  background-color: #ff0000;
  height: 2.0em;
  width: 2.0em;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}
/* line 99, ../sass/screen.scss */
.page .header p, .page .footer p {
  float: left;
}
/* line 104, ../sass/screen.scss */
.page .header {
  top: 0;
}
/* line 109, ../sass/screen.scss */
.page .footer {
  bottom: 0;
}
/* line 113, ../sass/screen.scss */
.page .content {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 123, ../sass/screen.scss */
.page .content .flow-em > .cell {
  width: 20em;
  height: 20em;
}
/* line 129, ../sass/screen.scss */
.page .content .flow-pc.flow-1 > .cell {
  width: 100%;
  height: 100%;
}
@media screen and (orientation: portrait) {
  /* line 137, ../sass/screen.scss */
  .page .content .flow-pc.flow-2 > .cell {
    width: 50%;
    height: 25%;
  }
  /* line 142, ../sass/screen.scss */
  .page .content .flow-pc.flow-4 > .cell {
    width: 25%;
    height: 12.5%;
  }
  /* line 147, ../sass/screen.scss */
  .page .content .flow-pc.flow-8 > .cell {
    width: 12.5%;
    height: 6.25%;
  }
}
@media screen and (orientation: landscape) and (max-width: 1600px) {
  /* line 156, ../sass/screen.scss */
  .page .content .flow-pc.flow-2 > .cell {
    width: 25%;
    height: 50%;
  }
  /* line 161, ../sass/screen.scss */
  .page .content .flow-pc.flow-4 > .cell {
    width: 12.5%;
    height: 25%;
  }
  /* line 166, ../sass/screen.scss */
  .page .content .flow-pc.flow-8 > .cell {
    width: 6.25%;
    height: 12.5%;
  }
}
@media screen and (orientation: landscape) and (min-width: 1601px) and (max-width: 2400px) {
  /* line 175, ../sass/screen.scss */
  .page .content .flow-pc.flow-2 > .cell {
    width: 16.66667%;
    height: 50%;
  }
  /* line 180, ../sass/screen.scss */
  .page .content .flow-pc.flow-4 > .cell {
    width: 8.33333%;
    height: 25%;
  }
  /* line 185, ../sass/screen.scss */
  .page .content .flow-pc.flow-8 > .cell {
    width: 4.16667%;
    height: 12.5%;
  }
}
@media screen and (orientation: landscape) and (min-width: 2400px) {
  /* line 194, ../sass/screen.scss */
  .page .content .flow-pc.flow-2 > .cell {
    width: 12.5%;
    height: 50%;
  }
  /* line 199, ../sass/screen.scss */
  .page .content .flow-pc.flow-4 > .cell {
    width: 6.25%;
    height: 25%;
  }
  /* line 204, ../sass/screen.scss */
  .page .content .flow-pc.flow-8 > .cell {
    width: 3.125%;
    height: 12.5%;
  }
}
/* line 210, ../sass/screen.scss */
.page .content .flow > .cell {
  border-style: solid;
  border-color: #eeeeee;
  border-left-width: 1px;
  border-top-width: 1px;
  margin-top: -1px;
  margin-left: -1px;
  text-align: center;
  overflow: hidden;
}
/* line 223, ../sass/screen.scss */
.page .content .flow > .cell p.imgmetric {
  line-height: 1.0em;
  position: absolute;
  z-index: 1;
  font-size: 0.6em;
  white-space: nowrap;
  display: none;
}
/* line 231, ../sass/screen.scss */
.page .content .flow > .cell p.imgmetric .size, .page .content .flow > .cell p.imgmetric .perc {
  display: none;
}
/* line 235, ../sass/screen.scss */
.page .content .flow > .cell p.imgmetric.super {
  background-color: #009900;
  color: #BBFFBB;
}
/* line 240, ../sass/screen.scss */
.page .content .flow > .cell p.imgmetric.sub {
  background-color: #990000;
  color: #FFBBBB;
}
/* line 247, ../sass/screen.scss */
.page .content .flow > .cell.visible p.imgmetric {
  display: block;
}
/* line 251, ../sass/screen.scss */
.page .content .flow > .cell.reresing p.imgmetric {
  display: none;
}
/* line 256, ../sass/screen.scss */
.page .content .flow > .cell .selectreflector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #222222;
}
/* line 264, ../sass/screen.scss */
.page .content .flow > .cell.selected .selectreflector {
  border-color: #ff00ff;
}
/* line 268, ../sass/screen.scss */
.page .content .flow > .cell a {
  position: relative;
  text-align: right;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}
/* line 277, ../sass/screen.scss */
.page .content .flow > .cell a > img.x-bound {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
/* line 287, ../sass/screen.scss */
.page .content .flow > .cell a > img.y-bound {
  height: 100%;
}
/* line 292, ../sass/screen.scss */
.page .content .flow > .cell a .meta {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
  color: #ffffff;
  height: 8em;
  margin-top: -8em;
  text-align: left;
  width: 100%;
  font-size: 0.8em;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}
/* line 309, ../sass/screen.scss */
.page .content .flow > .cell a .meta span {
  margin: 1.0em 0 0 1.0em;
  display: block;
}
/* line 313, ../sass/screen.scss */
.page .content .flow > .cell a .meta span.icons {
  height: 2.0em;
}
/* line 317, ../sass/screen.scss */
.page .content .flow > .cell a .meta span.caption {
  font-weight: bold;
}
/* line 321, ../sass/screen.scss */
.page .content .flow > .cell a .meta span.byline {
  margin-top: .5em;
}
/* line 327, ../sass/screen.scss */
.page .content .flow > .cell a:hover .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 335, ../sass/screen.scss */
.page .content .flow > .cell a .title {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  height: 0;
  line-height: 0;
  top: -4.0em;
  position: relative;
  width: 100px;
  background-color: #222222;
  color: #ffffff;
  margin: 0 2.4% 0 2.7%;
  padding: 0.5em;
}
/* line 350, ../sass/screen.scss */
.page .content .flow > .cell a div.directory {
  background: url("/chrome/images/fullres/folder_back_light.png") no-repeat left top;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  /**
   * disabled: currently aligning right
  .preview-1, .preview-3 {
    // used for text-align: left in parent
    margin-left: 6%;
  }
   */
}
/* line 358, ../sass/screen.scss */
.page .content .flow > .cell a div.directory .overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 368, ../sass/screen.scss */
.page .content .flow > .cell a div.directory .preview {
  width: 42.7%;
  height: 38%;
  position: relative;
  margin-right: 3%;
}
/* line 383, ../sass/screen.scss */
.page .content .flow > .cell a div.directory .preview-2, .page .content .flow > .cell a div.directory .preview-4 {
  margin-right: 6%;
}
/* line 388, ../sass/screen.scss */
.page .content .flow > .cell a div.directory .preview-1, .page .content .flow > .cell a div.directory .preview-2 {
  top: 13%;
}
/* line 393, ../sass/screen.scss */
.page .content .flow > .cell a div.directory .preview-3, .page .content .flow > .cell a div.directory .preview-4 {
  top: 16.4%;
}
/* line 402, ../sass/screen.scss */
.page .content .flow > .cell div.dummy1 {
  height: 50%;
}
/* line 406, ../sass/screen.scss */
.page .content .flow > .cell a.directory-container {
  display: inline-block;
  width: 100%;
  margin-top: -37.5%;
}
/* line 412, ../sass/screen.scss */
.page .content .flow > .cell a.directory-container .dummy2 {
  padding-top: 75%;
}
/* line 417, ../sass/screen.scss */
.page .content .flow > .cell a.directory-container div.directory {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* -------------------------------------------------------------------------*/
/* Theme variants */
/* line 434, ../sass/screen.scss */
html.theme-dark {
  background-color: #222222;
}
/* line 437, ../sass/screen.scss */
html.theme-dark .page .content .flow > .cell {
  border-color: #333333;
}
/* line 440, ../sass/screen.scss */
html.theme-dark .page .content .flow > .cell .directory {
  background-image: url("/chrome/images/fullres/folder_back_dark.png");
}

/* -------------------------------------------------------------------------*/
/* Test suite */
/* line 449, ../sass/screen.scss */
#qunit {
  position: absolute;
  z-index: 999;
}
