/* line 17, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 17, ../sass/screen.scss */
.yardstick {
  background: #0000ff;
}

/* line 20, ../sass/screen.scss */
#yardstick-x {
  width: 100%;
  height: 0;
}

/* line 24, ../sass/screen.scss */
#yardstick-y {
  width: 0;
  height: 100%;
  float: left;
}

/* line 30, ../sass/screen.scss */
html {
  background-color: white;
}

/* -------------------------------------------------------------------------*/
/* Modernizr variants */
/* line 37, ../sass/screen.scss */
html.flexbox.flow-x {
  overflow-x: scroll;
}
/* line 42, ../sass/screen.scss */
html.flexbox.flow-x .page .content .flow-x {
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-align-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

/* line 59, ../sass/screen.scss */
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;
}
/* line 64, ../sass/screen.scss */
html.flow-y .page .content li, html.no-flexbox.flow-x .page .content li {
  float: left;
}

/* line 72, ../sass/screen.scss */
html.no-js .header:hover, html.no-js .footer:hover {
  width: 100%;
}

/* -------------------------------------------------------------------------*/
/* Page */
/* line 80, ../sass/screen.scss */
.page {
  height: 100%;
}
/* line 84, ../sass/screen.scss */
.page .header, .page .footer {
  clear: both;
  background-color: #ff0000;
  height: 2.0em;
  width: 2.0em;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}
/* line 93, ../sass/screen.scss */
.page .header p, .page .footer p {
  float: left;
}
/* line 98, ../sass/screen.scss */
.page .header {
  top: 0;
}
/* line 103, ../sass/screen.scss */
.page .footer {
  bottom: 0;
}
/* line 107, ../sass/screen.scss */
.page .content {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 117, ../sass/screen.scss */
.page .content .flow-em > .cell {
  width: 20em;
  height: 20em;
}
/* line 122, ../sass/screen.scss */
.page .content .flow-pc > .cell {
  width: 25%;
  height: 50%;
}
/* line 127, ../sass/screen.scss */
.page .content .flow > .cell {
  border-style: solid;
  border-color: #eeeeee;
  border-left-width: 1px;
  border-top-width: 1px;
  margin-top: -1px;
  margin-left: -1px;
  text-align: center;
}
/* line 138, ../sass/screen.scss */
.page .content .flow > .cell a {
  position: relative;
}
/* line 146, ../sass/screen.scss */
.page .content .flow > .cell a > img.x-bound {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
/* line 156, ../sass/screen.scss */
.page .content .flow > .cell a > img.y-bound {
  height: 100%;
}
/* line 160, ../sass/screen.scss */
.page .content .flow > .cell a .title {
  height: 0;
  line-height: 0;
  top: -1.0em;
  position: relative;
}
/* line 168, ../sass/screen.scss */
.page .content .flow > .cell a div.folder {
  background: url("/chrome/images/fullres/folder_back_light.png") no-repeat left top;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  position: relative;
}
/* line 177, ../sass/screen.scss */
.page .content .flow > .cell a div.folder .overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 187, ../sass/screen.scss */
.page .content .flow > .cell a div.folder .preview {
  width: 42.7%;
  height: 38%;
  position: relative;
  margin-right: 3%;
}
/* line 194, ../sass/screen.scss */
.page .content .flow > .cell a div.folder .preview-1, .page .content .flow > .cell a div.folder .preview-3 {
  margin-left: 6%;
}
/* line 198, ../sass/screen.scss */
.page .content .flow > .cell a div.folder .preview-1, .page .content .flow > .cell a div.folder .preview-2 {
  top: 13%;
}
/* line 203, ../sass/screen.scss */
.page .content .flow > .cell a div.folder .preview-3, .page .content .flow > .cell a div.folder .preview-4 {
  top: 16.4%;
}
/* line 211, ../sass/screen.scss */
.page .content .flow > .cell div.dummy1 {
  height: 50%;
}
/* line 215, ../sass/screen.scss */
.page .content .flow > .cell a.folder-container {
  display: inline-block;
  width: 100%;
  margin-top: -37.5%;
}
/* line 221, ../sass/screen.scss */
.page .content .flow > .cell a.folder-container .dummy2 {
  padding-top: 75%;
}
/* line 226, ../sass/screen.scss */
.page .content .flow > .cell a.folder-container div.folder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* -------------------------------------------------------------------------*/
/* Theme variants */
/* line 243, ../sass/screen.scss */
html.theme-dark {
  background-color: #222222;
}
/* line 246, ../sass/screen.scss */
html.theme-dark .page .content .flow > .cell {
  border-color: #333333;
}
/* line 249, ../sass/screen.scss */
html.theme-dark .page .content .flow > .cell .folder {
  background-image: url("/chrome/images/fullres/folder_back_dark.png");
}
