/* line 17, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 16, ../sass/screen.scss */
.page {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  /**
   * Horizontal alignment
   * - spanning on the list items
   */
  /**
   * Vertical alignment
   * - spanning on the lists (ul)
   */
}
/* line 38, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 20, ../sass/screen.scss */
.page .header, .page .footer {
  clear: both;
  background-color: #ff0000;
}
/* line 25, ../sass/screen.scss */
.page .content {
  background-color: #00ff00;
}
/* line 28, ../sass/screen.scss */
.page .content .thumb {
  width: 100%;
}
/* line 41, ../sass/screen.scss */
.page .content-horiz ul.bundle-t24 li {
  width: 3.36134%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 43, ../sass/screen.scss */
.page .content-horiz ul.bundle-t24 li:nth-child(24n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 44, ../sass/screen.scss */
.page .content-horiz ul.bundle-t24 li:nth-child(24n+1) {
  clear: both;
}
/* line 49, ../sass/screen.scss */
.page .content-horiz ul.bundle-t12 li {
  width: 7.56303%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 51, ../sass/screen.scss */
.page .content-horiz ul.bundle-t12 li:nth-child(12n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 52, ../sass/screen.scss */
.page .content-horiz ul.bundle-t12 li:nth-child(12n+1) {
  clear: both;
}
/* line 57, ../sass/screen.scss */
.page .content-horiz ul.bundle-t6 li {
  width: 15.96639%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 59, ../sass/screen.scss */
.page .content-horiz ul.bundle-t6 li:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 60, ../sass/screen.scss */
.page .content-horiz ul.bundle-t6 li:nth-child(6n+1) {
  clear: both;
}
/* line 65, ../sass/screen.scss */
.page .content-horiz ul.bundle-t4 li {
  width: 24.36975%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 67, ../sass/screen.scss */
.page .content-horiz ul.bundle-t4 li:nth-child(4n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 68, ../sass/screen.scss */
.page .content-horiz ul.bundle-t4 li:nth-child(4n+1) {
  clear: both;
}
/* line 73, ../sass/screen.scss */
.page .content-horiz ul.bundle-t3 li {
  width: 32.77311%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 75, ../sass/screen.scss */
.page .content-horiz ul.bundle-t3 li:nth-child(3n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 76, ../sass/screen.scss */
.page .content-horiz ul.bundle-t3 li:nth-child(3n+1) {
  clear: both;
}
/* line 81, ../sass/screen.scss */
.page .content-horiz ul.bundle-t2 li {
  width: 49.57983%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 83, ../sass/screen.scss */
.page .content-horiz ul.bundle-t2 li:nth-child(2n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 84, ../sass/screen.scss */
.page .content-horiz ul.bundle-t2 li:nth-child(2n+1) {
  clear: both;
}
/* line 89, ../sass/screen.scss */
.page .content-horiz ul.bundle-t1 li {
  width: 100%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 91, ../sass/screen.scss */
.page .content-horiz ul.bundle-t1 li:nth-child(1n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 92, ../sass/screen.scss */
.page .content-horiz ul.bundle-t1 li:nth-child(1n+1) {
  clear: both;
}
/* line 103, ../sass/screen.scss */
.page .content-vert ul.bundle {
  float: left;
}
/* line 107, ../sass/screen.scss */
.page .content-vert ul.bundle li {
  clear: both;
  width: 100%;
}
/* line 113, ../sass/screen.scss */
.page .content-vert ul.bundle-t24 {
  width: 3.36134%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 115, ../sass/screen.scss */
.page .content-vert ul.bundle-t24:nth-child(24n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 116, ../sass/screen.scss */
.page .content-vert ul.bundle-t24:nth-child(24n+1) {
  clear: both;
}
/* line 119, ../sass/screen.scss */
.page .content-vert ul.bundle-t12 {
  width: 7.56303%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 121, ../sass/screen.scss */
.page .content-vert ul.bundle-t12:nth-child(12n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 122, ../sass/screen.scss */
.page .content-vert ul.bundle-t12:nth-child(12n+1) {
  clear: both;
}
/* line 125, ../sass/screen.scss */
.page .content-vert ul.bundle-t6 {
  width: 15.96639%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 127, ../sass/screen.scss */
.page .content-vert ul.bundle-t6:nth-child(6n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 128, ../sass/screen.scss */
.page .content-vert ul.bundle-t6:nth-child(6n+1) {
  clear: both;
}
/* line 131, ../sass/screen.scss */
.page .content-vert ul.bundle-t4 {
  width: 24.36975%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 133, ../sass/screen.scss */
.page .content-vert ul.bundle-t4:nth-child(4n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 134, ../sass/screen.scss */
.page .content-vert ul.bundle-t4:nth-child(4n+1) {
  clear: both;
}
/* line 137, ../sass/screen.scss */
.page .content-vert ul.bundle-t3 {
  width: 32.77311%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 139, ../sass/screen.scss */
.page .content-vert ul.bundle-t3:nth-child(3n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 140, ../sass/screen.scss */
.page .content-vert ul.bundle-t3:nth-child(3n+1) {
  clear: both;
}
/* line 143, ../sass/screen.scss */
.page .content-vert ul.bundle-t2 {
  width: 49.57983%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 145, ../sass/screen.scss */
.page .content-vert ul.bundle-t2:nth-child(2n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 146, ../sass/screen.scss */
.page .content-vert ul.bundle-t2:nth-child(2n+1) {
  clear: both;
}
/* line 149, ../sass/screen.scss */
.page .content-vert ul.bundle-t1 {
  width: 100%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
}
/* line 151, ../sass/screen.scss */
.page .content-vert ul.bundle-t1:nth-child(1n) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 152, ../sass/screen.scss */
.page .content-vert ul.bundle-t1:nth-child(1n+1) {
  clear: both;
}
