/* line 27, ../sass/structuredfun.scss */
.yardstick {
  background: #0000ff;
}

/* line 31, ../sass/structuredfun.scss */
#gutterball {
  width: 4px;
  height: 0;
}

/* line 36, ../sass/structuredfun.scss */
#alleyball {
  width: 8px;
  height: 0;
}

/* line 41, ../sass/structuredfun.scss */
html {
  background-color: white;
}

/* line 48, ../sass/structuredfun.scss */
html.flexbox.flow-x {
  overflow-x: scroll;
}
/* line 53, ../sass/structuredfun.scss */
html.flexbox.flow-x .sfun.flow, html.flexbox.flow-x .sfun .flow {
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  -webkit-align-items: center;
  -webkit-justify-content: flex-start;
  -webkit-align-content: flex-start;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
}

/* line 70, ../sass/structuredfun.scss */
html.flow-y, html.no-flexbox.flow-x {
  overflow-y: scroll;
}
/* line 75, ../sass/structuredfun.scss */
html.flow-y .sfun li, html.no-flexbox.flow-x .sfun li {
  float: left;
}

/* line 83, ../sass/structuredfun.scss */
html.no-js .header, html.no-js .footer, html.disabled-js .header, html.disabled-js .footer {
  display: none;
}

/* line 91, ../sass/structuredfun.scss */
.page {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  height: 100%;
}
/* line 97, ../sass/structuredfun.scss */
.page .header, .page .footer {
  clear: both;
  height: 2.5em;
  width: 2.5em;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  color: black;
  text-transform: uppercase;
  font-size: 0.75em;
  background: #96c2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #96c2ff 0%, #d9ecf9 84%, #adadad 85%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96c2ff), color-stop(84%, #d9ecf9), color-stop(85%, #adadad), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #96c2ff 0%, #d9ecf9 84%, #adadad 85%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #96c2ff 0%, #d9ecf9 84%, #adadad 85%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #96c2ff 0%, #d9ecf9 84%, #adadad 85%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #96c2ff 0%, #d9ecf9 84%, #adadad 85%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96c2ff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 118, ../sass/structuredfun.scss */
.page .header p, .page .header li, .page .footer p, .page .footer li {
  float: left;
  height: 100%;
  background-size: 2.5em 2.5em;
  background-repeat: no-repeat;
  padding-top: 0.7em;
  padding-left: 3.0em;
}
/* line 127, ../sass/structuredfun.scss */
.page .header p a, .page .header li a, .page .footer p a, .page .footer li a {
  text-decoration: none;
  color: black;
}
/* line 133, ../sass/structuredfun.scss */
.page .header p.menu-icon, .page .header li.menu-icon, .page .footer p.menu-icon, .page .footer li.menu-icon {
  background-image: url("/chrome/images/fullres/menu-icon-64x64-black.png");
}
/* line 139, ../sass/structuredfun.scss */
.page .header {
  top: 0;
}
/* line 144, ../sass/structuredfun.scss */
.page .footer {
  bottom: 0;
}
/* line 148, ../sass/structuredfun.scss */
.page .content {
  margin: 4px;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 165, ../sass/structuredfun.scss */
.sfun {
  margin-top: -4px;
}

/* line 173, ../sass/structuredfun.scss */
html.theme-dark {
  background-color: #222222;
}
/* line 177, ../sass/structuredfun.scss */
html.theme-dark .page .header {
  color: white;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 0%, #09134c 84%, #08090c 85%, #222222 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(84%, #09134c), color-stop(85%, #08090c), color-stop(100%, #222222));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, #09134c 84%, #08090c 85%, #222222 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, #09134c 84%, #08090c 85%, #222222 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, #09134c 84%, #08090c 85%, #222222 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #09134c 84%, #08090c 85%, #222222 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#222222',GradientType=0 );
  /* IE6-9 */
}
/* line 191, ../sass/structuredfun.scss */
html.theme-dark .page .header p a, html.theme-dark .page .header li a {
  color: white;
}
/* line 194, ../sass/structuredfun.scss */
html.theme-dark .page .header p.menu-icon, html.theme-dark .page .header li.menu-icon {
  background-image: url("/chrome/images/fullres/menu-icon-64x64-white.png");
}
/* line 202, ../sass/structuredfun.scss */
html.theme-dark .page .content .sfun > .cell:not(.selected) .selectreflector {
  border-color: #222222;
}
/* line 207, ../sass/structuredfun.scss */
html.theme-dark .page .content .sfun > .cell a .meta {
  background-image: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8));
  color: #ffffff;
}
/* line 211, ../sass/structuredfun.scss */
html.theme-dark .page .content .sfun > .cell a .title {
  background-color: #222222;
  color: #ffffff;
}

/* line 226, ../sass/structuredfun.scss */
#qunit {
  position: absolute;
  z-index: 999;
}
