/* line 17, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/structured.scss */
#sfun-yardstick-x {
  width: 100%;
  height: 0;
}

/* line 14, ../sass/structured.scss */
#sfun-yardstick-y {
  width: 0;
  height: 100%;
  position: absolute;
  left: -1;
}

/* line 24, ../sass/structured.scss */
.sfun {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
/* line 33, ../sass/structured.scss */
.sfun.flow-em > .cell {
  width: 20em;
  height: 20em;
}
/* line 38, ../sass/structured.scss */
.sfun.flow-pc {
  /**
   * This section is not used, but kept for reference only
   *
  @media screen and (orientation:landscape) and (max-width: $wide1) {
    // 4x2
    &.flow-2 > .cell {
      width: (100% / 4);
      height: (100% / 2);
      @include calc(width, (100% / 4)+" - "+($alley));
      @include calc(height, (100% / 2)+" - "+($alley));
    }
    // 8x4
    &.flow-4 > .cell {
      width: (100% / 8);
      height: (100% / 4);
      @include calc(width, (100% / 8)+" - "+($alley));
      @include calc(height, (100% / 4)+" - "+($alley));
    }
    // 16x8
    &.flow-8 > .cell {
      width: (100% / 16);
      height: (100% / 8);
      @include calc(width, (100% / 16)+" - "+($alley));
      @include calc(height, (100% / 8)+" - "+($alley));
    }
  }
   * 
   */
}
/* line 44, ../sass/structured.scss */
.sfun.flow-pc.flow-1.flow-x > .cell {
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 52, ../sass/structured.scss */
.sfun.flow-pc.flow-1.flow-y > .cell {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
/* line 61, ../sass/structured.scss */
.sfun.flow-pc.flow-2 > .cell {
  width: 50%;
  height: 50%;
  width: -webkit-calc(50% - 4px);
  width: -moz-calc(50% - 4px);
  width: calc(50% - 4px);
  height: -webkit-calc(50% - 4px);
  height: -moz-calc(50% - 4px);
  height: calc(50% - 4px);
}
/* line 68, ../sass/structured.scss */
.sfun.flow-pc.flow-4 > .cell {
  width: 25%;
  height: 25%;
  width: -webkit-calc(25% - 4px);
  width: -moz-calc(25% - 4px);
  width: calc(25% - 4px);
  height: -webkit-calc(25% - 4px);
  height: -moz-calc(25% - 4px);
  height: calc(25% - 4px);
}
/* line 75, ../sass/structured.scss */
.sfun.flow-pc.flow-8 > .cell {
  width: 12.5%;
  height: 12.5%;
  width: -webkit-calc(12.5% - 4px);
  width: -moz-calc(12.5% - 4px);
  width: calc(12.5% - 4px);
  height: -webkit-calc(12.5% - 4px);
  height: -moz-calc(12.5% - 4px);
  height: calc(12.5% - 4px);
}
/* line 116, ../sass/structured.scss */
.sfun.flow-pc > .cell {
  text-align: center;
  overflow: hidden;
  margin: -webkit-calc(4px) -webkit-calc(2px) -webkit-calc(0px) -webkit-calc(2px);
  margin: -moz-calc(4px) -moz-calc(2px) -moz-calc(0px) -moz-calc(2px);
  margin: calc(4px) calc(2px) calc(0px) calc(2px);
  background-color: white;
}
/* line 136, ../sass/structured.scss */
.sfun.flow-pc > .cell .selectreflector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}
/* line 145, ../sass/structured.scss */
.sfun.flow-pc > .cell .media-container .selectreflector {
  border-color: #e8e8e8;
}
/* line 149, ../sass/structured.scss */
.sfun.flow-pc > .cell.selected .selectreflector {
  border-color: gray;
}
/* line 153, ../sass/structured.scss */
.sfun.flow-pc > .cell .video-container .selectreflector {
  border: none;
}
/* line 159, ../sass/structured.scss */
.sfun.flow-pc > .cell .container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin: 2px;
  margin: -webkit-calc(0px);
  margin: -moz-calc(0px);
  margin: calc(0px);
}
/* line 171, ../sass/structured.scss */
.sfun.flow-pc > .cell .container.directory-container.directory-outer {
  width: 100%;
  height: 100%;
  margin: 0;
  margin: -webkit-calc(10px);
  margin: -moz-calc(10px);
  margin: calc(10px);
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
}
/* line 179, ../sass/structured.scss */
.sfun.flow-pc > .cell .container.directory-container.directory-outer > .meta {
  opacity: 1;
}
/* line 183, ../sass/structured.scss */
.sfun.flow-pc > .cell .container.directory-container.directory-outer > .meta .base {
  margin-left: 1px;
}
/* line 186, ../sass/structured.scss */
.sfun.flow-pc > .cell .container.directory-container.directory-outer > .meta .base .iptcHeadline {
  font-weight: normal;
  font-size: 2.0em;
}
/* line 195, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .x-bound {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
/* line 205, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .y-bound {
  height: 100%;
}
/* line 210, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 50%;
  margin-bottom: -4em;
  color: #000000;
  min-height: 50%;
  text-align: left;
  width: 100%;
  font-size: 0.8em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}
/* line 235, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base {
  position: absolute;
  background-image: linear-gradient(rgba(232, 232, 232, 0.4), rgba(232, 232, 232, 0.8));
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  bottom: 0;
}
/* line 244, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc {
  margin: 1.0em 1.0em 1.0em 0;
  height: 1.2em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
/* line 257, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.iptcHeadline {
  font-weight: bold;
  display: block;
  margin-right: 0.5em;
}
/* line 264, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.iptcCaption, .sfun.flow-pc > .cell .container .meta .base .iptc.iptcKeywords, .sfun.flow-pc > .cell .container .meta .base .iptc.iptcCopyright, .sfun.flow-pc > .cell .container .meta .base .iptc.iptcSource {
  pointer-events: auto;
  color: #555555;
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
/* line 274, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.editable {
  pointer-events: auto;
  display: inline;
  margin-left: 0;
  margin-right: 0;
}
/* line 280, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.editable:hover {
  color: red;
}
/* line 285, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.iptcByline {
  display: inline;
}
/* line 290, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .iptc.iptc_default, .sfun.flow-pc > .cell .container .meta .base .iptc.iptc_undefined {
  display: none;
}
/* line 295, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .imgmetric {
  float: left;
  margin-left: -1.25em;
  line-height: 1.0em;
  font-size: 0.8em;
  padding: 0 0.2em 0 0.2em;
  white-space: nowrap;
}
/* line 308, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .imgmetric .size {
  display: none;
}
/* line 317, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .imgmetric.super {
  background-color: #009900;
  color: #BBFFBB;
}
/* line 322, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base .imgmetric.sub {
  background-color: #990000;
  color: #FFBBBB;
}
/* line 332, ../sass/structured.scss */
.sfun.flow-pc > .cell .container:hover .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 339, ../sass/structured.scss */
.sfun.flow-pc > .cell .container:hover .imgmetric {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 348, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .button {
  position: absolute;
  top: 15%;
  left: 45%;
  color: #fff;
  font-size: 2.0em;
  border: 4px solid #fff;
  border-radius: 0.8em;
  box-shadow: 0 0 .2em #fff;
  padding: 2.5% 5% 2.5% 5%;
  opacity: 0.5;
}
/* line 362, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}
/* line 374, ../sass/structured.scss */
.sfun.flow-pc > .cell.video-playing .meta {
  display: none;
}
/* line 380, ../sass/structured.scss */
.sfun.flow-pc > .cell.editing .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 389, ../sass/structured.scss */
.sfun.flow-pc > .cell.video-ready .pre-vjs-button {
  display: none;
}
/* line 395, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
}
/* line 405, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder > div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 411, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text], .sfun.flow-pc > .cell .metaform-holder textarea {
  background: none;
  border: none;
  color: black;
  width: 100%;
  max-width: 50em;
}
/* line 420, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text]:focus, .sfun.flow-pc > .cell .metaform-holder textarea:focus {
  border: 1px solid #555555;
}
/* line 424, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text].iptcHeadline, .sfun.flow-pc > .cell .metaform-holder textarea.iptcHeadline {
  font-weight: bold;
}
/* line 430, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder label {
  display: none;
}
/* line 436, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory {
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 442, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory .overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 455, ../sass/structured.scss */
.sfun.flow-pc > .cell .title {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  height: 0;
  line-height: 0;
  top: -4.0em;
  position: relative;
  width: 100px;
  background-color: #e8e8e8;
  color: #000000;
  margin: 0 2.4% 0 2.7%;
  padding: 0.5em;
}
/* line 470, ../sass/structured.scss */
.sfun.flow-pc > .cell .subcell {
  width: 33.33333%;
  height: 33.33333%;
  margin: -webkit-calc(2px);
  margin: -moz-calc(2px);
  margin: calc(2px);
  width: -webkit-calc(33.33333% - 4px);
  width: -moz-calc(33.33333% - 4px);
  width: calc(33.33333% - 4px);
  height: -webkit-calc(33.33333% - 4px);
  height: -moz-calc(33.33333% - 4px);
  height: calc(33.33333% - 4px);
}
/* line 479, ../sass/structured.scss */
.sfun.flow-pc > .cell .subcell-1 {
  width: 66.66667%;
  height: 100%;
  margin: -webkit-calc(2px);
  margin: -moz-calc(2px);
  margin: calc(2px);
  width: -webkit-calc(66.66667% - 4px);
  width: -moz-calc(66.66667% - 4px);
  width: calc(66.66667% - 4px);
  height: -webkit-calc(100% - 4px);
  height: -moz-calc(100% - 4px);
  height: calc(100% - 4px);
}
/* line 490, ../sass/structured.scss */
.sfun.flow-pc > .cell.visible .imgmetric, .sfun.flow-pc > .cell.vispart p.imgmetric {
  display: block;
}
/* line 496, ../sass/structured.scss */
.sfun.flow-pc > .cell.reres-plus-2s .imgmetric {
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}

/* line 513, ../sass/structured.scss */
.js .sfun .cell.resizepending {
  visibility: hidden;
}
