/* line 17, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../users/alex/Google Drive/Lightenna/functionspace/techsetups/stdapps/compass/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/structured.scss */
#sfun-yardstick-x {
  width: 100%;
  height: 0;
}

/* line 14, ../sass/structured.scss */
#sfun-yardstick-y {
  width: 0;
  height: 100%;
  position: absolute;
  left: -1;
}

/* line 24, ../sass/structured.scss */
.sfun {
  position: relative;
  top: 0;
  left: 0;
}
/* line 30, ../sass/structured.scss */
.sfun.flow-em > .cell {
  width: 20em;
  height: 20em;
}
/* line 35, ../sass/structured.scss */
.sfun.flow-pc {
  /**
   * This section is not used, but kept for reference only
   *
  @media screen and (orientation:landscape) and (max-width: $wide1) {
    // 4x2
    &.flow-2 > .cell {
      width: (100% / 4);
      height: (100% / 2);
      @include calc(width, (100% / 4)+" - "+($alley));
      @include calc(height, (100% / 2)+" - "+($alley));
    }
    // 8x4
    &.flow-4 > .cell {
      width: (100% / 8);
      height: (100% / 4);
      @include calc(width, (100% / 8)+" - "+($alley));
      @include calc(height, (100% / 4)+" - "+($alley));
    }
    // 16x8
    &.flow-8 > .cell {
      width: (100% / 16);
      height: (100% / 8);
      @include calc(width, (100% / 16)+" - "+($alley));
      @include calc(height, (100% / 8)+" - "+($alley));
    }
  }
   * 
   */
}
/* line 39, ../sass/structured.scss */
.sfun.flow-pc.flow-1 > .cell {
  width: 100%;
  height: 100%;
  width: -webkit-calc(100% - 8px);
  width: -moz-calc(100% - 8px);
  width: calc(100% - 8px);
  height: -webkit-calc(100% - 8px);
  height: -moz-calc(100% - 8px);
  height: calc(100% - 8px);
}
/* line 48, ../sass/structured.scss */
.sfun.flow-pc.flow-2 > .cell {
  width: 50%;
  height: 50%;
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
  height: -webkit-calc(50% - 8px);
  height: -moz-calc(50% - 8px);
  height: calc(50% - 8px);
}
/* line 55, ../sass/structured.scss */
.sfun.flow-pc.flow-4 > .cell {
  width: 25%;
  height: 25%;
  width: -webkit-calc(25% - 8px);
  width: -moz-calc(25% - 8px);
  width: calc(25% - 8px);
  height: -webkit-calc(25% - 8px);
  height: -moz-calc(25% - 8px);
  height: calc(25% - 8px);
}
/* line 62, ../sass/structured.scss */
.sfun.flow-pc.flow-8 > .cell {
  width: 12.5%;
  height: 12.5%;
  width: -webkit-calc(12.5% - 8px);
  width: -moz-calc(12.5% - 8px);
  width: calc(12.5% - 8px);
  height: -webkit-calc(12.5% - 8px);
  height: -moz-calc(12.5% - 8px);
  height: calc(12.5% - 8px);
}
/* line 98, ../sass/structured.scss */
.sfun.flow-pc > .cell {
  text-align: center;
  overflow: hidden;
  margin: -webkit-calc(4px);
  margin: -moz-calc(4px);
  margin: calc(4px);
}
/* line 111, ../sass/structured.scss */
.sfun.flow-pc > .cell .selectreflector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}
/* line 120, ../sass/structured.scss */
.sfun.flow-pc > .cell .media-container .selectreflector {
  border-color: white;
}
/* line 124, ../sass/structured.scss */
.sfun.flow-pc > .cell.selected .selectreflector {
  border-color: magenta;
}
/* line 128, ../sass/structured.scss */
.sfun.flow-pc > .cell .container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin: 4px;
  margin: -webkit-calc(0px);
  margin: -moz-calc(0px);
  margin: calc(0px);
}
/* line 141, ../sass/structured.scss */
.sfun.flow-pc > .cell .container img.x-bound {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
/* line 151, ../sass/structured.scss */
.sfun.flow-pc > .cell .container img.y-bound {
  height: 100%;
}
/* line 155, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric {
  line-height: 1.0em;
  position: absolute;
  z-index: 1;
  font-size: 0.6em;
  white-space: nowrap;
  display: none;
}
/* line 163, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric .size, .sfun.flow-pc > .cell .container .imgmetric .perc {
  display: none;
}
/* line 167, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric.super {
  background-color: #009900;
  color: #BBFFBB;
}
/* line 172, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric.sub {
  background-color: #990000;
  color: #FFBBBB;
}
/* line 179, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta {
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  color: #000000;
  height: 8em;
  text-align: left;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}
/* line 198, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base {
  position: absolute;
  bottom: 0;
}
/* line 203, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span {
  margin: 1.0em;
  display: block;
}
/* line 207, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.icons {
  height: 2.0em;
}
/* line 211, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.caption {
  font-weight: bold;
}
/* line 215, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.byline {
  margin-top: .5em;
}
/* line 222, ../sass/structured.scss */
.sfun.flow-pc > .cell .container:hover .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 232, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory {
  border: 1px solid #dddddd;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 240, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory .overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 253, ../sass/structured.scss */
.sfun.flow-pc > .cell .title {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  height: 0;
  line-height: 0;
  top: -4.0em;
  position: relative;
  width: 100px;
  background-color: white;
  color: #000000;
  margin: 0 2.4% 0 2.7%;
  padding: 0.5em;
}
/* line 268, ../sass/structured.scss */
.sfun.flow-pc > .cell .subcell {
  width: 50%;
  height: 50%;
  margin: -webkit-calc(4px);
  margin: -moz-calc(4px);
  margin: calc(4px);
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
  height: -webkit-calc(50% - 8px);
  height: -moz-calc(50% - 8px);
  height: calc(50% - 8px);
}
/* line 279, ../sass/structured.scss */
.sfun.flow-pc > .cell.visible .imgmetric, .sfun.flow-pc > .cell.vispart p.imgmetric {
  display: block;
}
/* line 283, ../sass/structured.scss */
.sfun.flow-pc > .cell.reresing .imgmetric {
  display: none;
}

/* line 297, ../sass/structured.scss */
.js .sfun .cell.resizepending {
  visibility: hidden;
}
