/* line 17, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/structured.scss */
#sfun-yardstick-x {
  width: 100%;
  height: 0;
}

/* line 14, ../sass/structured.scss */
#sfun-yardstick-y {
  width: 0;
  height: 100%;
  position: absolute;
  left: -1;
}

/* line 24, ../sass/structured.scss */
.sfun {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
/* line 33, ../sass/structured.scss */
.sfun.flow-em > .cell {
  width: 20em;
  height: 20em;
}
/* line 38, ../sass/structured.scss */
.sfun.flow-pc {
  /**
   * This section is not used, but kept for reference only
   *
  @media screen and (orientation:landscape) and (max-width: $wide1) {
    // 4x2
    &.flow-2 > .cell {
      width: (100% / 4);
      height: (100% / 2);
      @include calc(width, (100% / 4)+" - "+($alley));
      @include calc(height, (100% / 2)+" - "+($alley));
    }
    // 8x4
    &.flow-4 > .cell {
      width: (100% / 8);
      height: (100% / 4);
      @include calc(width, (100% / 8)+" - "+($alley));
      @include calc(height, (100% / 4)+" - "+($alley));
    }
    // 16x8
    &.flow-8 > .cell {
      width: (100% / 16);
      height: (100% / 8);
      @include calc(width, (100% / 16)+" - "+($alley));
      @include calc(height, (100% / 8)+" - "+($alley));
    }
  }
   * 
   */
}
/* line 42, ../sass/structured.scss */
.sfun.flow-pc.flow-1 {
  /**
   * problem
   *
    > .cell {
      width: (100%);
      height: 100%;
      @include calc(width, (100%)+" - "+($alley));
      margin-top: 0;
      margin-bottom: 0;
    }
   *
   */
}
/* line 44, ../sass/structured.scss */
.sfun.flow-pc.flow-1.flow-x > .cell {
  width: 100%;
  height: 100%;
  width: -webkit-calc(100% - 8px);
  width: -moz-calc(100% - 8px);
  width: calc(100% - 8px);
  margin-top: 0;
  margin-bottom: 0;
}
/* line 53, ../sass/structured.scss */
.sfun.flow-pc.flow-1.flow-y > .cell {
  width: 100%;
  height: 100%;
  height: -webkit-calc(100% - 8px);
  height: -moz-calc(100% - 8px);
  height: calc(100% - 8px);
  margin-left: 0;
  margin-right: 0;
}
/* line 75, ../sass/structured.scss */
.sfun.flow-pc.flow-2 > .cell {
  width: 50%;
  height: 50%;
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
  height: -webkit-calc(50% - 8px);
  height: -moz-calc(50% - 8px);
  height: calc(50% - 8px);
}
/* line 82, ../sass/structured.scss */
.sfun.flow-pc.flow-4 > .cell {
  width: 25%;
  height: 25%;
  width: -webkit-calc(25% - 8px);
  width: -moz-calc(25% - 8px);
  width: calc(25% - 8px);
  height: -webkit-calc(25% - 8px);
  height: -moz-calc(25% - 8px);
  height: calc(25% - 8px);
}
/* line 89, ../sass/structured.scss */
.sfun.flow-pc.flow-8 > .cell {
  width: 12.5%;
  height: 12.5%;
  width: -webkit-calc(12.5% - 8px);
  width: -moz-calc(12.5% - 8px);
  width: calc(12.5% - 8px);
  height: -webkit-calc(12.5% - 8px);
  height: -moz-calc(12.5% - 8px);
  height: calc(12.5% - 8px);
}
/* line 130, ../sass/structured.scss */
.sfun.flow-pc > .cell {
  text-align: center;
  overflow: hidden;
  margin: -webkit-calc(8px) -webkit-calc(4px) -webkit-calc(0px) -webkit-calc(4px);
  margin: -moz-calc(8px) -moz-calc(4px) -moz-calc(0px) -moz-calc(4px);
  margin: calc(8px) calc(4px) calc(0px) calc(4px);
  background-color: white;
}
/* line 148, ../sass/structured.scss */
.sfun.flow-pc > .cell .selectreflector {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
}
/* line 157, ../sass/structured.scss */
.sfun.flow-pc > .cell .media-container .selectreflector {
  border-color: #e8e8e8;
}
/* line 161, ../sass/structured.scss */
.sfun.flow-pc > .cell.selected .selectreflector {
  border-color: gray;
}
/* line 165, ../sass/structured.scss */
.sfun.flow-pc > .cell .container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin: 4px;
  margin: -webkit-calc(0px);
  margin: -moz-calc(0px);
  margin: calc(0px);
}
/* line 178, ../sass/structured.scss */
.sfun.flow-pc > .cell .container img.x-bound {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
/* line 188, ../sass/structured.scss */
.sfun.flow-pc > .cell .container img.y-bound {
  height: 100%;
}
/* line 192, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric {
  line-height: 1.0em;
  position: absolute;
  z-index: 1;
  font-size: 0.6em;
  white-space: nowrap;
  display: none;
}
/* line 200, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric .size, .sfun.flow-pc > .cell .container .imgmetric .perc {
  display: none;
}
/* line 204, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric.super {
  background-color: #009900;
  color: #BBFFBB;
}
/* line 209, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .imgmetric.sub {
  background-color: #990000;
  color: #FFBBBB;
}
/* line 217, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta {
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(232, 232, 232, 0), rgba(232, 232, 232, 0.8));
  color: #000000;
  min-height: 50%;
  text-align: left;
  left: 50%;
  margin-left: -50%;
  width: 100%;
  font-size: 0.8em;
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}
/* line 236, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base {
  position: absolute;
  bottom: 0;
}
/* line 241, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span {
  margin: 1.0em;
  height: 1.2em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
/* line 253, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.iptc_headline {
  font-weight: bold;
  display: inline;
  margin-right: 0.5em;
}
/* line 260, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.iptc_caption, .sfun.flow-pc > .cell .container .meta .base span.iptc_keywords, .sfun.flow-pc > .cell .container .meta .base span.iptc_copyright, .sfun.flow-pc > .cell .container .meta .base span.iptc_source {
  color: #555555;
  display: inline;
  margin: 0;
}
/* line 267, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.editable {
  display: inline;
  margin: 0;
}
/* line 271, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.editable:hover {
  color: red;
}
/* line 276, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.iptc_byline {
  display: block;
}
/* line 281, ../sass/structured.scss */
.sfun.flow-pc > .cell .container .meta .base span.default.iptc_caption, .sfun.flow-pc > .cell .container .meta .base span.default.iptc_keywords, .sfun.flow-pc > .cell .container .meta .base span.default.iptc_copyright, .sfun.flow-pc > .cell .container .meta .base span.default.iptc_source {
  display: none;
}
/* line 290, ../sass/structured.scss */
.sfun.flow-pc > .cell .container:hover .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 297, ../sass/structured.scss */
.sfun.flow-pc > .cell .container:hover .imgmetric {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 308, ../sass/structured.scss */
.sfun.flow-pc > .cell.editing .meta {
  opacity: 1;
  transition: opacity 0.3s ease-in 0s;
}
/* line 317, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder {
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
}
/* line 327, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder > div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 333, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text], .sfun.flow-pc > .cell .metaform-holder textarea {
  background: none;
  border: none;
  color: black;
  width: 100%;
  max-width: 50em;
}
/* line 342, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text]:focus, .sfun.flow-pc > .cell .metaform-holder textarea:focus {
  border: 1px solid #555555;
}
/* line 346, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder input[type=text].iptc_headline, .sfun.flow-pc > .cell .metaform-holder textarea.iptc_headline {
  font-weight: bold;
}
/* line 352, ../sass/structured.scss */
.sfun.flow-pc > .cell .metaform-holder label {
  display: none;
}
/* line 358, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory {
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 366, ../sass/structured.scss */
.sfun.flow-pc > .cell .directory .overlay {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* line 379, ../sass/structured.scss */
.sfun.flow-pc > .cell .title {
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */
  height: 0;
  line-height: 0;
  top: -4.0em;
  position: relative;
  width: 100px;
  background-color: #e8e8e8;
  color: #000000;
  margin: 0 2.4% 0 2.7%;
  padding: 0.5em;
}
/* line 394, ../sass/structured.scss */
.sfun.flow-pc > .cell .subcell {
  width: 50%;
  height: 50%;
  margin: -webkit-calc(4px);
  margin: -moz-calc(4px);
  margin: calc(4px);
  width: -webkit-calc(50% - 8px);
  width: -moz-calc(50% - 8px);
  width: calc(50% - 8px);
  height: -webkit-calc(50% - 8px);
  height: -moz-calc(50% - 8px);
  height: calc(50% - 8px);
}
/* line 405, ../sass/structured.scss */
.sfun.flow-pc > .cell.visible .imgmetric, .sfun.flow-pc > .cell.vispart p.imgmetric {
  display: block;
}
/* line 409, ../sass/structured.scss */
.sfun.flow-pc > .cell.reresing .imgmetric {
  display: none;
}
/* line 415, ../sass/structured.scss */
.sfun.flow-pc > .cell.reres-plus-2s .imgmetric {
  opacity: 0;
  transition: opacity 0.3s ease-out 0s;
}

/* line 431, ../sass/structured.scss */
.js .sfun .cell.resizepending {
  visibility: hidden;
}
